@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}


.column{
    @apply w-full md:w-1/2 text-center p-24 border rounded transition duration-150 ease-in-out shadow-sm transform hover:-translate-y-1 hover:scale-105 hover:z-10 hover:shadow-lg
}

.one{
    @apply bg-red-600 hover:bg-red-500 hover:drop-shadow-lg
}

.two{
    @apply bg-purple-600 hover:bg-purple-500 hover:drop-shadow-lg
}


.testGrid{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.testImgMobMargin{
    margin-top: 5em;
    
}

@keyframes slideaway {
  from { opacity: 0; }
  to { opacity: 1;}
}

.testPanel{
    animation: slideaway 1000ms;
    display: none;

}

.testPanel.active{
    display: block;
    opacity: 1;
}


#sail-group {
    transform-origin: 32.5px 24.5px;
    transition: all 1.5s ease-in-out;
  }
  
  svg:hover #sail-group {
    transform: rotate(360deg);
    transition: all 1.5s ease-in-out;
  }
  
  svg #sail-group > rect,
  svg #sail-group > line {
    fill: none;
  }
  
  svg:hover #sail-group > rect,
  svg:hover #sail-group > line {
    fill: #f00;
    
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(-180deg);
    }
  }
  
  .main-circle {
    background-color: #0c272e;
    border-radius: 50%;
    height: 300px;
    margin: 15px auto;
    position: relative;
    width: 300px;
  }
  
  .main-circle > svg {
    animation: rotate 5s infinite linear;
    height: 362px;
    left: -31px;
    position: absolute;
    top: -31px;
    width: 362px;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .windmill{
    position: absolute;
    bottom: 2%;
    right: 3%;
  }
  
      
  
  #windmillIcon{
    height: 40px; 
    width: 35px; 
  }
    
  @media screen and (max-width: 670px){
    #windmillIcon{
      margin: 0 auto;
      right: 0!important; 
    }
  }